In [49]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
g_key

'AIzaSyDVwX-DVQx94kG0sZS9KTJP4RGBpcXyXUA'

In [37]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dikson,RU,2021-07-28 21:26:40,73.5069,80.5464,38.12,95,95,12.86
1,1,Saint-Philippe,RE,2021-07-28 21:26:41,-21.3585,55.7679,67.59,87,99,14.65
2,2,Rikitea,PF,2021-07-28 21:23:10,-23.1203,-134.9692,73.92,79,40,14.34
3,3,Jamestown,US,2021-07-28 21:26:41,42.0970,-79.2353,79.09,53,40,8.05
4,4,Tuktoyaktuk,CA,2021-07-28 21:26:42,69.4541,-133.0374,53.60,76,90,6.91

In [38]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [39]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [40]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [41]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))