In [51]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [52]:
g_key

'AIzaSyCQMJiwLqTWoUthxIxzV4yEzAkqbg0Zl5Y'

In [53]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dikson,RU,2021-07-28 21:26:40,73.5069,80.5464,38.12,95,95,12.86
1,1,Saint-Philippe,RE,2021-07-28 21:26:41,-21.3585,55.7679,67.59,87,99,14.65
2,2,Rikitea,PF,2021-07-28 21:23:10,-23.1203,-134.9692,73.92,79,40,14.34
3,3,Jamestown,US,2021-07-28 21:26:41,42.0970,-79.2353,79.09,53,40,8.05
4,4,Tuktoyaktuk,CA,2021-07-28 21:26:42,69.4541,-133.0374,53.60,76,90,6.91

In [54]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [55]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [56]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [61]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Jamestown,US,2021-07-28 21:26:41,42.0970,-79.2353,79.09,53,40,8.05
6,6,Hambantota,LK,2021-07-28 21:26:42,6.1241,81.1185,79.14,89,75,8.05
9,9,Port Blair,IN,2021-07-28 21:26:43,11.6667,92.7500,81.79,84,100,18.05
16,16,Tuy Hoa,VN,2021-07-28 21:25:54,13.0833,109.3000,84.09,68,100,13.33
18,18,Hilo,US,2021-07-28 21:26:46,19.7297,-155.0900,79.79,78,90,4.61
21,21,Marzuq,YE,2021-07-28 21:26:47,14.4000,46.4667,77.92,69,100,9.48
22,22,Kaifeng,CN,2021-07-28 21:26:47,34.7911,114.3483,76.06,83,100,20.76
36,36,Tateyama,JP,2021-07-28 21:26:52,34.9833,139.8667,82.42,86,82,15.28
41,41,Albany,US,2021-07-28 21:22:57,42.6001,-73.9662,80.31,53,33,3.71
43,43,Besikduzu,TR,2021-07-28 21:26:54,41.0520,39.2284,76.89,73,52,11.34

In [62]:
preferred_cities_df.count()

City_ID       184
City          184
Country       184
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [63]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3    Jamestown      US     79.09  42.0970  -79.2353
6   Hambantota      LK     79.14   6.1241   81.1185
9   Port Blair      IN     81.79  11.6667   92.7500
16     Tuy Hoa      VN     84.09  13.0833  109.3000
18        Hilo      US     79.79  19.7297 -155.0900
21      Marzuq      YE     77.92  14.4000   46.4667
22     Kaifeng      CN     76.06  34.7911  114.3483
36    Tateyama      JP     82.42  34.9833  139.8667
41      Albany      US     80.31  42.6001  -73.9662
43   Besikduzu      TR     76.89  41.0520   39.2284

In [64]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [65]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [67]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Jamestown,US,79.09,42.0970,-79.2353,Hampton Inn & Suites Jamestown
6,Hambantota,LK,79.14,6.1241,81.1185,Bungalow 63
9,Port Blair,IN,81.79,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
16,Tuy Hoa,VN,84.09,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa
18,Hilo,US,79.79,19.7297,-155.0900,Hilo Hawaiian Hotel

In [71]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [72]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))